@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

:root {
  --text: #303841;
  --background: #ffffff;
  --primary: #f6c90e;
  --accent: #777777;

  --border-radius: 28px;
  --card-padding: 12px 28px;
  --cards-spacing: 40px;
  --button-size: 28px;
  --products-spacing: 80px;
  --cart-item-circle-size: 90px;
  --cart-items-spacing: 40px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html,
body,
#root {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

button {
  all: unset;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--text);
  background: var(--background);
}

#root {
  display: grid;
  place-items: center;

  overflow-y: auto;
  padding: 40px;
  background: linear-gradient(-10deg, var(--primary) 50%, var(--background) 50%);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--cards-spacing);

}

.products-container,
.cart-container {
  display: grid;
  grid-template-rows: auto 1fr;

  width: 350px;
  height: 500px;

  padding: var(--card-padding);
  border-radius: var(--border-radius);
  background: var(--background);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.products-header,
.cart-header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "logo ."
    "title subtitle";
  row-gap: 10px;

  padding-bottom: 20px;
}

.header-logo {
  grid-area: logo;
  width: 50px;
}

.header-title {
  grid-area: title;
  font-size: 1.5rem;
  font-weight: 700;
}

.header-subtitle {
  grid-area: subtitle;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
}

.header-subtitle::before {
  content: "$";
}

.products-list,
.cart-list {
  /* width: 100%;
  height: 100%; */
  overflow-y: auto;
}

.products-list {
  display: flex;
  flex-direction: column;
  gap: var(--products-spacing);
}

.product {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "image image"
    "title title"
    "description description"
    "price checkout";
  align-items: center;
  row-gap: 1rem;
}

.product-image-wrapper {
  grid-area: image;
  border-radius: var(--border-radius);
}

.product-image {
  transform: rotate(-30deg);
  filter: drop-shadow(-10px 20px 10px rgba(0, 0, 0, 0.2));
  margin-left: -20px;
}

.product-title {
  grid-area: title;
  font-size: 1.25rem;
}

.product-description {
  grid-area: description;
  color: var(--accent);
}

.product-price {
  grid-area: price;
  font-size: 1.25rem;
  font-weight: 700;
}

.product-price::before {
  content: "$";
}

.product-checkout {
  grid-area: checkout;
  border-radius: var(--border-radius);
  background: var(--primary);
}

button.product-checkout {
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
}


img.product-checkout {
  width: 2.75rem;
  height: 2.75rem;
  padding: 0.75rem;
}

.cart-empty {
  display: grid;
  place-items: center;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: var(--cart-items-spacing);
}

.cart-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "image title title"
    "image price price"
    "image quantity remove";
  align-items: center;
  column-gap: .5rem;
}

.cart-item-image {
  grid-area: image;
  width: 120px;
  height: 120px;

  rotate: -30deg;
}

.cart-item-name {
  grid-area: title;
  font-size: .75rem;
}

.cart-item-price {
  grid-area: price;
  font-size: 1.25rem;
  font-weight: 700;
}

.cart-item-price::before {
  content: "$";
}

.cart-item-quantity-wrapper {
  grid-area: quantity;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item-icon-wrapper {
  border-radius: var(--border-radius);
  width: var(--button-size);
  height: var(--button-size);
}

.cart-item-icon-wrapper__accent {
  background: var(--accent);
  color: var(--background);
}

.cart-item-icon-wrapper__primary {
  background: var(--primary);
}

.cart-item-icon {
    padding: .5rem;

}

.cart-item-remove {
  grid-area: remove;
}
